<div class="flex-both-center flex-wrap mt-16">
	<!-- linkedin -->
	<div class="page-social relative">
		<a href="https://m.webtoo.ls/@astro" target="_blank">
			<span class="sr-only">Follow Astro on Mastodon</span>
			<svg class="social-icon-fill" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M0.25 3C0.25 1.48122 1.48122 0.25 3 0.25H27C28.5188 0.25 29.75 1.48122 29.75 3V27C29.75 28.5188 28.5188 29.75 27 29.75H3C1.48122 29.75 0.25 28.5188 0.25 27V3ZM3 1.75C2.30964 1.75 1.75 2.30964 1.75 3V27C1.75 27.6904 2.30964 28.25 3 28.25H27C27.6904 28.25 28.25 27.6904 28.25 27V3C28.25 2.30964 27.6904 1.75 27 1.75H3ZM10 9.75H8V8.25H10V9.75ZM8.25 22V12H9.75V22H8.25ZM12.25 12H13.75V13.5359C14.5997 12.7384 15.7428 12.25 17 12.25C19.6234 12.25 21.75 14.3766 21.75 17V22H20.25V17C20.25 15.2051 18.7949 13.75 17 13.75C15.2051 13.75 13.75 15.2051 13.75 17V22H12.25V12Z" 
				fill="black"></path></svg>
		</a>
	</div>
	<!-- mail -->
	<div class="page-social relative">
		<a href="mailto:thejan.vithanage@outlook.com" target="_blank">
			<span class="sr-only">send mail to Thejan</span>
			<svg class="social-icon-fill" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 3.25C1.48122 3.25 0.25 4.48121 0.25 6V24.4C0.25 25.9188 1.48122 27.15 3 27.15H27C28.5188 27.15 29.75 25.9188 29.75 24.4V6C29.75 4.48122 28.5188 3.25 27 3.25H3ZM1.75 6C1.75 5.30964 2.30964 4.75 3 4.75H27C27.6904 4.75 28.25 5.30964 28.25 6V24.4C28.25 25.0904 27.6904 25.65 27 25.65H3C2.30964 25.65 1.75 25.0904 1.75 24.4V6ZM24.4101 10.2003L15.4501 16.9203C15.1834 17.1203 14.8167 17.1203 14.5501 16.9203L5.59008 10.2003C5.25871 9.95178 5.19156 9.48168 5.44008 9.15031C5.68861 8.81894 6.15871 8.75178 6.49008 9.00031L15.0001 15.3828L23.5101 9.00031C23.8415 8.75178 24.3116 8.81894 24.5601 9.15031C24.8086 9.48168 24.7415 9.95178 24.4101 10.2003Z" fill="black"></path></svg>
		</a>
	</div>
	<!-- github -->
	<div class="page-social relative">
		<a href="https://m.webtoo.ls/@astro" target="_blank">
			<span class="sr-only">Follow Thejan on Github</span>
			<svg class="social-icon-fill" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.7998 28.2998C19.3998 28.2998 18.9998 27.9998 18.9998 27.4998V20.1998C18.9998 18.9998 18.9998 18.4998 18.4998 17.9998C18.2998 17.7998 18.1998 17.4998 18.2998 17.1998C18.3998 16.8998 18.5998 16.6998 18.8998 16.6998C22.4998 16.2998 24.6998 15.0998 24.6998 9.99982C24.6998 8.69982 24.1998 7.39982 23.2998 6.49982C23.0998 6.29982 22.9998 5.99982 23.0998 5.69982C23.2998 5.09982 23.3998 4.59982 23.3998 3.99982C23.3998 3.59982 23.2998 3.09982 23.1998 2.69982C22.6998 2.79982 21.5998 2.99982 19.7998 4.19982C19.5998 4.29982 19.3998 4.29982 19.1998 4.29982C16.7998 3.69982 14.1998 3.69982 11.7998 4.29982C11.5998 4.39982 11.3998 4.29982 11.1998 4.19982C9.3998 3.09982 8.2998 2.79982 7.7998 2.79982C7.6998 3.19982 7.5998 3.59982 7.5998 4.09982C7.5998 4.69982 7.6998 5.29982 7.8998 5.79982C7.9998 6.09982 7.8998 6.39982 7.6998 6.59982C7.1998 7.09982 6.8998 7.59982 6.5998 8.19982C6.3998 8.79982 6.1998 9.39982 6.1998 10.0998C6.1998 15.0998 8.3998 16.3998 11.9998 16.7998C12.2998 16.7998 12.4998 16.9998 12.5998 17.2998C12.6998 17.5998 12.5998 17.8998 12.3998 18.0998C11.9998 18.4998 11.7998 19.2998 11.8998 20.4998V22.4998V22.5998V27.5998C11.8998 27.9998 11.5998 28.3998 11.0998 28.3998C10.5998 28.3998 10.2998 28.0998 10.2998 27.5998V23.5998C6.9998 24.1998 5.6998 22.1998 4.8998 20.7998C4.4998 20.0998 4.0998 19.4998 3.6998 19.3998C3.2998 19.2998 3.0998 18.8998 3.1998 18.4998C3.2998 18.0998 3.6998 17.8998 4.0998 17.9998C5.0998 18.2998 5.6998 19.1998 6.1998 20.0998C7.0998 21.4998 7.7998 22.7998 10.3998 22.1998V20.7998C10.2998 19.7998 10.3998 18.9998 10.5998 18.3998C7.4998 17.7998 4.5998 16.1998 4.5998 10.3998C4.5998 9.49982 4.7998 8.69982 5.0998 7.89982C5.4998 6.99982 5.8998 6.39982 6.2998 5.89982C6.1998 5.29982 6.0998 4.69982 6.0998 3.99982C6.0998 3.19982 6.2998 2.39982 6.5998 1.69982C6.6998 1.49982 6.8998 1.29982 7.0998 1.29982C7.3998 1.19982 8.7998 0.999818 11.7998 2.79982C14.2998 2.19982 16.8998 2.19982 19.2998 2.79982C22.2998 0.999818 23.6998 1.19982 23.9998 1.29982C24.1998 1.39982 24.3998 1.49982 24.4998 1.69982C24.7998 2.39982 24.9998 3.19982 24.9998 3.99982C24.9998 4.59982 24.8998 5.29982 24.7998 5.89982C25.7998 7.09982 26.3998 8.49982 26.3998 10.0998C26.3998 15.8998 23.5998 17.5998 20.4998 18.0998C20.6998 18.7998 20.6998 19.4998 20.6998 20.1998V27.4998C20.5998 27.9998 20.1998 28.2998 19.7998 28.2998Z" fill="black"></path></svg>
		</a>
	</div>
	<!-- Medium -->
	<div class="page-social relative">
		<a href="https://m.webtoo.ls/@astro" target="_blank">
			<span class="sr-only">Follow Thejan on Medium</span>
			<svg class="social-icon-fill" width="30" height="16" viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" 
				d="M7.70114 1.75C4.41924 1.75 1.75 4.43028 1.75 7.74716C1.75 11.064 4.41942 13.7441 7.70114 13.7441C10.9828 13.7441 13.652 11.064 13.652 7.74716C13.652 4.43025 10.983 1.75 7.70114 1.75ZM0.25 7.74716C0.25 3.61157 3.58114 0.25 7.70114 0.25C11.8212 0.25 15.152 3.6116 15.152 7.74716C15.152 11.8828 11.8209 15.2441 7.70114 15.2441C3.58141 15.2441 0.25 11.8828 0.25 7.74716Z" fill="black"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M18.8168 3.60898C18.278 4.63055 17.9221 6.09357 17.9221 7.75034C17.9221 9.40708 18.278 10.8701 18.8169 11.8917C19.3738 12.9475 20.0137 13.3522 20.5227 13.3522C21.0318 13.3522 21.6717 12.9475 22.2286 11.8917C22.7674 10.8701 23.1233 9.40709 23.1233 7.75034H23.1231C23.1231 6.09311 22.7672 4.63011 22.2284 3.60869C21.6715 2.55307 21.0317 2.14844 20.5225 2.14844C20.0134 2.14844 19.3736 2.55314 18.8168 3.60898ZM17.49 2.90922C18.1457 1.66596 19.1811 0.648438 20.5225 0.648438C21.8638 0.648438 22.8993 1.66559 23.5551 2.90883C24.229 4.18627 24.6231 5.89922 24.6231 7.75034H24.6233C24.6233 9.60102 24.2292 11.314 23.5553 12.5915C22.8996 13.8347 21.8641 14.8522 20.5227 14.8522C19.1813 14.8522 18.1459 13.8347 17.4901 12.5915C16.8163 11.314 16.4221 9.60102 16.4221 7.75034C16.4221 5.89967 16.8162 4.18674 17.49 2.90922Z" fill="black"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M27.7228 3.87542C27.5228 4.84171 27.3933 6.21092 27.3933 7.74694C27.3933 9.28298 27.5227 10.6522 27.7227 11.6185C27.7549 11.7736 27.788 11.9144 27.8215 12.0409C27.855 11.9143 27.8882 11.7734 27.9204 11.6182C28.1204 10.6518 28.2499 9.28261 28.2499 7.74694C28.2499 6.21082 28.1204 4.84162 27.9203 3.87538C27.8882 3.72035 27.855 3.57966 27.8215 3.45324C27.788 3.57968 27.7549 3.72038 27.7228 3.87542ZM27.0568 1.63884C27.2189 1.47865 27.4769 1.30664 27.8215 1.30664C28.166 1.30664 28.424 1.47862 28.5861 1.63879C28.7459 1.79667 28.8639 1.9906 28.9537 2.17401C29.1348 2.5439 29.2772 3.03072 29.3891 3.57117C29.6155 4.6644 29.7499 6.14035 29.7499 7.74694C29.7499 9.35306 29.6156 10.829 29.3892 11.9223C29.2773 12.4628 29.1349 12.9497 28.9538 13.3197C28.864 13.5031 28.746 13.6971 28.5862 13.855C28.4241 14.0152 28.166 14.1872 27.8215 14.1872C27.477 14.1872 27.2189 14.0153 27.0568 13.8551C26.897 13.6972 26.779 13.5032 26.6892 13.3198C26.5081 12.9499 26.3658 12.463 26.2539 11.9226C26.0276 10.8293 25.8933 9.35338 25.8933 7.74694C25.8933 6.14048 26.0276 4.66454 26.254 3.5713C26.3659 3.03084 26.5082 2.54401 26.6893 2.1741C26.779 1.99068 26.8971 1.79673 27.0568 1.63884Z" fill="black"></path></svg>
		</a>
	</div>
	<!-- portfolio
	<div class="page-social relative">
		<a href="https://m.webtoo.ls/@astro" target="_blank">
			<span class="sr-only">Follow Astro on Mastodon</span>
			<svg class="social-icon-fill" width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M25.123 9.55675C23.2279 5.55094 19.3839 2.8832 15.0306 2.8832C10.6773 2.8832 6.83335 5.55094 4.93827 9.55675H3.12592C5.12968 4.65176 9.70586 1.22394 15.0306 1.22394C20.3554 1.22394 24.9315 4.65176 26.9353 9.55675H25.123ZM15.0475 29H15.0138C15.0194 29 15.025 29 15.0306 29C15.0362 29 15.0418 29 15.0475 29Z" fill="black"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M24.9829 19.6672C23.0977 23.6034 19.3102 26.2143 15.0306 26.2143C10.751 26.2143 6.96354 23.6034 5.07832 19.6672H3.12592C5.12968 24.5722 9.70586 28 15.0306 28C20.3554 28 24.9315 24.5722 26.9353 19.6672H24.9829ZM15.0488 0.223932H15.0124C15.0185 0.223923 15.0245 0.223919 15.0306 0.223919C15.0367 0.223919 15.0427 0.223923 15.0488 0.223932Z" fill="black"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M26.2741 10.1611H3.78729C2.84461 10.1611 2.08041 10.9253 2.08041 11.868V17.8204C2.08041 18.7631 2.84461 19.5273 3.7873 19.5273H26.2741C27.2168 19.5273 27.981 18.7631 27.981 17.8204V11.868C27.981 10.9253 27.2168 10.1611 26.2741 10.1611ZM3.78729 8.5611C1.96095 8.5611 0.480408 10.0416 0.480408 11.868V17.8204C0.480408 19.6467 1.96095 21.1273 3.7873 21.1273H26.2741C28.1005 21.1273 29.581 19.6467 29.581 17.8204V11.868C29.581 10.0416 28.1005 8.5611 26.2741 8.5611H3.78729Z" fill="black"></path>
				<path d="M8.84131 15.512L9.5238 12.3969H10.8648L9.53822 17.2888H8.3751L7.38981 14.2099L6.40452 17.2888H5.24621L3.91968 12.3969H5.26063L5.93832 15.5075L6.88996 12.3969H7.89447L8.84131 15.512Z" fill="black"></path>
				<path d="M16.4733 15.512L17.1558 12.3969H18.4967L17.1702 17.2888H16.0071L15.0218 14.2099L14.0365 17.2888H12.8782L11.5517 12.3969H12.8926L13.5703 15.5075L14.5219 12.3969H15.5265L16.4733 15.512Z" fill="black"></path>
				<path d="M24.1053 15.512L24.7878 12.3969H26.1287L24.8022 17.2888H23.6391L22.6538 14.2099L21.6685 17.2888H20.5102L19.1837 12.3969H20.5246L21.2023 15.5075L22.1539 12.3969H23.1584L24.1053 15.512Z" fill="black"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M9.53827 17.2888H8.37515L7.38987 14.2099L6.40458 17.2888H5.24627L3.91973 12.3969H5.26068L5.93837 15.5075L6.89001 12.3969H7.89453L8.84136 15.512L9.52385 12.3969H10.8648L9.53827 17.2888ZM8.82889 15.1981L9.45999 12.3176H10.9686L9.59898 17.3682H8.31722L7.38987 14.4703L6.46251 17.3682H5.18556L3.81598 12.3176H5.32462L5.95129 15.194L6.8313 12.3176H7.95335L8.82889 15.1981ZM17.1703 17.2888H16.0071L15.0219 14.2099L14.0366 17.2888H12.8783L11.5517 12.3969H12.8927L13.5704 15.5075L14.522 12.3969H15.5265L16.4734 15.512L17.1558 12.3969H18.4968L17.1703 17.2888ZM16.4609 15.1981L17.092 12.3176H18.6005L17.231 17.3682H15.9492L15.0219 14.4703L14.0945 17.3682H12.8175L11.448 12.3176H12.9566L13.5833 15.194L14.4633 12.3176H15.5853L16.4609 15.1981ZM24.8022 17.2888H23.6391L22.6538 14.2099L21.6686 17.2888H20.5102L19.1837 12.3969H20.5247L21.2023 15.5075L22.154 12.3969H23.1585L24.1053 15.512L24.7878 12.3969H26.1288L24.8022 17.2888ZM24.0929 15.1981L24.724 12.3176H26.2325L24.863 17.3682H23.5812L22.6538 14.4703L21.7265 17.3682H20.4495L19.08 12.3176H20.5886L21.2153 15.194L22.0953 12.3176H23.2173L24.0929 15.1981Z" fill="black"></path>
				</svg>
		</a>
	</div> -->
</div>
<style>
.mt-16{
	margin-top: 16px;
}

.flex-wrap{
	flex-wrap: wrap;
}

.flex-both-center {
    align-items: center;
    display: flex;
    justify-content: center;
}



.relative {
    position: relative;
}

.page-social {
    cursor: pointer;
    display: block;
    margin: 0 12px 12px;
}
</style>